.container{
    display: flex;
    justify-content: center;
    width: 500px;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin-top: 30px;
}


table td {
    box-shadow: 10px 10px 10px 10px;
    border: 5px solid red;
    width: 100px;
    text-align:  center;
    height: 100px;
    font-weight: bold;
    font-size: 40px;
}

.winner{
    color: green;
    font-weight: bold;
    font-size: 30px;
}

.winner span{
    color: red;
}

.restart{
    background-color: blue;
    border-color: blue;
    color: #fff;
    font-weight: bold;
    font-size: 15;
    height: 30px;
    border-radius: 5px;
}